.navbar {
    height: 70px;
    padding: 0 20px;
    background: #eef3cf;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.logo {
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.nav-links {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.nav-links a {
    color: rgb(19, 19, 19);
    text-decoration: none;
    cursor: pointer;
}

.admin-btn {
    font-weight: bold;
    color: #007bff;
    /* distinguish admin button */
}

/* Hamburger icon */
.menu-icon {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.menu-icon span {
    height: 3px;
    width: 25px;
    background: white;
    margin: 4px 0;
}

/* Responsive breakpoint */
@media (max-width: 672px) {
    .menu-icon {
        display: flex;
    }

    .nav-links {
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background: #f0f5cb;
        flex-direction: column;
        align-items: center;
        display: none;
    }

    .nav-links.active {
        display: flex;
    }

    .nav-links a {
        padding: 15px 0;
        width: 100%;
        text-align: center;
    }
}